{% extends request.is_ajax|yesno:"base_ajax.html,base_mod_backend.html" %}

{% load i18n %}
{% load app_security %}
{% block title %} {{ page_title }} {% endblock %}
{% block content %}
    {% load notify %}
    {% get_notify request %}

    <script type="text/javascript">
    $(function() {
        $('table').dwGrid({
            language: '{{ LANGUAGE_CODE }}',

        });
    });
    </script>
    
    <div class="container-fluid dw-shell-view">
        <div class="page-header">
            <h4>{{ page_module }} | <small>{{ page_title }}</small></h4>
        </div>
        
        <div class="btn-toolbar btn-toolbar-top">
            <div class="btn-actions">
                <a href="{% url 'headquar_add' %}" class="btn dw-spinner dw-ajax btn-success dw-text-bold" title="{% trans "Agregar sede." %}"><i class="btn-icon-only icon-check"></i> <span class="hidden-phone">{% trans "NEW" %}</span></a>
            </div>
        </div>

        <div class="dw-overflow" id="data-result">
            <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="col-collapse" data-search="name">{% trans "ASOC./EMPR" %}</th>
                        <th class="col-collapse" data-search="name">{% trans "SEDE" %}</th>
                        <th class="col-collapse" data-search="name">{% trans "PRINCIPAL" %}</th>
                        <th class="col-collapse">{% trans "DIRECCION" %}</th>
                        <th class="col-collapse">{% trans "FONO" %}</th>
                        <th class="col-collapse">{% trans "LOCALIDAD" %}</th>
                        <th class="col-collapse">{% trans "ACTIVO" %}</th>
                        <th class="btn-actions no-responsive" style="width: 200px;">{% trans "ACTIONS" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for d in headquar_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ d.association.name }}/{{ d.enterprise.name }}</td>
                        <td>{{ d.name }}</td>
                        <td>{{ d.is_main|yesno:'SI,NO' }}</td>
                        <td>{{ d.address|add:''  }}</td>
                        <td>{{ d.phone|add:'' }}</td>
                        <td>{{ d.locality.name }}</td>
                        <td><span class="label label-success">{{ d.is_active|yesno:'SI,NO' }}</span></td>
                        <td>
                            <a href="{% url 'headquar_change_association' d.id|key:'headquar_cha' %}" class="btn dw-spinner dw-ajax btn btn-small btn-info dw-text-bold" title="{% trans "Cambiar Asociación." %}" rel="tooltip"> <i class="btn-icon-only icon-exchange"></i></a>

                            <a href="{% url 'headquar_edit' d.id|key:'headquar_upd' %}" class="btn dw-spinner dw-ajax btn btn-small btn-info dw-text-bold" title="{% trans "Actualizar sede." %}" rel="tooltip"> <i class="btn-icon-only icon-edit"></i></a>

                            {% if d.is_active %}
                                <a href="{% url 'headquar_state' 'inactivar' d.id|key:'headquar_inactivar' %}" class="btn dw-spinner dw-ajax btn btn-small btn-success dw-text-bold" title="{% trans "Inactivar headquar." %}" rel="tooltip"> <i class="btn-icon-only icon-flag"></i></a>
                            {% else %}
                                <a href="{% url 'headquar_state' 'reactivar' d.id|key:'headquar_reactivar' %}" class="btn dw-spinner dw-ajax btn btn-small btn-success dw-text-bold" title="{% trans "Reactivar headquar." %}" rel="tooltip"> <i class="btn-icon-only icon-flag"></i></a>
                            {% endif %}

                            <a href="{% url 'headquar_delete' d.id|key:'headquar_del' %}" class="btn dw-spinner dw-ajax btn btn-small btn-danger js-confirm dw-text-bold" confirm-title="{% trans "¿Eliminar sede?." %}" confirm-body="{% trans "It is safe to remove." %}<br/>{% trans "Remember that this operation can not be reversed." %}" title="{% trans "¿Eliminar sede?." %}" rel="tooltip"> <i class="btn-icon-only icon-ban-circle"></i></a>
                        </td>
                     </tr>
                    {% empty %}
                        {% trans "No records found" %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock content %}
