{% extends request.is_ajax|yesno:"base_ajax.html,base_mod_backend.html" %}
{% load i18n %}
{% load l10n %}

{% block title %} {{ page_title }} {% endblock %}
{% block content %}
    {% load notify %}
    {% get_notify request %}
    
    <div class="container-fluid dw-shell-view">
        <div class="page-header">
            <h4>{{ page_module }} | <small>{{ page_title }}</small></h4>
        </div>
        <form action="" method="post" id="form" class="dw-validate js-remote dw-form dw-validate form-vertical" data-to="dw-shell-content" name="form">
        	{% csrf_token %}
        	<div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">{% trans "NAME" %}<span class="req"> *</span></label>
                        <input id="name" name="name" type="text" value="{{ d.name }}" class="field text input-xlarge input-required mask-alphanum show-error">
                        <p class="help-block"> <span class="help-error" id="err_name"></span></p>
                    </div>
        		</div>
        		<div class="span4">
                    <div class="control-group">
                        <label class="control-label">{% trans "MSNM" %}<span class="req"> *</span></label>
                        <input id="msnm" name="msnm" type="text" value="{{ d.msnm|unlocalize }}" class="field input-large input-numeric mask-pnum show-error" >
                        <p class="help-block"> <span class="help-error" id="err_msnm"></span></p>
                    </div>
        		</div>
        		<div class="span4">
                    <div class="control-group">
                    <label for="locality_type"  class="control-label">{% trans "TYPE" %}<span class="req">*</span>
                    </label>
                    <select id="locality_type" name="locality_type"  class="field select input-xlarge input-xlist mask-pint show-errors" >
                        <option value="">no se necesita</option>
                        <option value="1">DNIxx.</option>
                        <option value="2">C.E.xx</option>
                        <option value="5">N.D.xx</option>
                        <option value="3">PAS.xx</option>
                    </select>
                    <p class="help-block"> <span class="help-error" id="err_locality_type"></span></p>
                    </div>
        		</div>
        	</div>
        	
        	<div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">{% trans "FECHA" %}<span class="req"> </span></label>
                        <input id="date_create" name="date_create" type="text" value="{{ d.date_create|date:"Y-m-d" }}" class="js-datepicker field input-large mask-date input-date show-errors">
                        <p class="help-block"> <span class="help-error" id="err_date_create"></span></p>
                    </div>
        		</div>
                
        	</div>

            <div class="row-fluid">
                <div class="form-actions">
                    
                    <button type="submit" class="btn btn-success dw-text-bold" title="Guardar registro">
                        <i class="btn-icon-only icon-save"></i> <span class="hidden-phone">{% trans "SAVE" %}</span>
                    </button>
                    
                    <button type="button"  class="btn btn-info dw-text-bold" title="Limpiar formulario" onclick="document.getElementById('form').reset();">
                        <i class="btn-icon-only icon-undo"></i> <span class="hidden-phone">{% trans "RESET" %}</span>
                    </button>
                    
                    <a href="{% url 'locality_index' %}"  class="btn dw-spinner dw-ajax btn-danger dw-text-bold" title="Cancelar operación">
                        <i class="btn-icon-only icon-ban-circle"></i> <span class="hidden-phone">{% trans "CANCEL" %}</span>
                    </a>
                    
                 </div>
             </div>
        </form>
    </div>
{% endblock content %}