<footer class="navbar-inner navbar-fixed-bottom">
    <div class="pull-right hidden-phone">
        <p>Versión: 1.0b1 Power by <a href="http://djangoproject.com/"  target="_blank" >Django</a> |
            <a href="http://www.dailyscript.com.co/contacto/"  target="_blank" >DS</a>
        </p>
    </div>
    <div>
        <p>BackendDJ &copy; Copyright {% now "Y" %} - <a href="#"  target="_blank">Submit Consulting</a>. Todos los derechos reservados. 
            <a href="#"  target="_blank" >&nbsp;Contacto&nbsp;</a>
        </p>
    </div>
</footer>