{% load staticfiles %}
{% load i18n %}



  <div class="navbar-inner">
    <div class="container">
      
  <div class="row-fluid" >
                
                <div style="vertical-align: middle;">
<a href="/home/"  class="brand" ><i class="icon-globe icon-expand"></i>BackendDJ</a> 

                </div>
                <div class="pull-right">

<a href="/accounts/login/"  class="btn dw-spinner  btn-success dw-text-bold" ><i class="btn-icon-only icon-signin"></i> <span class="hidden-phone">{% trans 'Log in' %}</span></a>

<a href="/accounts/signup/"  class="btn dw-spinner btn-info" ><i class="btn-icon-only icon-check"></i> <span class="hidden-phone">{% trans 'Sign up' %}</span></a>
</div>
                </div>

            </div>





    </div>

