{% extends request.is_ajax|yesno:"base_ajax.html,base_mod_backend.html" %}

{% load i18n %}
{% load app_security %}
{% block title %} {{ page_title }} {% endblock %}
{% block content %}
    {% load notify %}
    {% get_notify request %}

    <script type="text/javascript">
    $(function() {
        $('table').dwGrid({
            language: '{{ LANGUAGE_CODE }}',

        });
    });
    </script>
    
    <div class="container-fluid dw-shell-view">
        <div class="page-header">
            <h4>{{ page_module }} | <small>{{ page_title }}</small></h4>
        </div>
        
        <div class="btn-toolbar btn-toolbar-top">
            <div class="btn-actions">
                <a href="{% url 'enterprise_add' %}" class="btn dw-spinner dw-ajax btn-success dw-text-bold" title="{% trans "Agregar empresa." %}"><i class="btn-icon-only icon-check"></i> <span class="hidden-phone">{% trans "NEW" %}</span></a>
            </div>
        </div>

        <div class="dw-overflow" id="data-result">
            <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="col-collapse" data-search="name">{% trans "EMPRESA" %}</th>
                        <th class="col-collapse" data-search="name">{% trans "RUC" %}</th>
                        <th class="col-collapse">{% trans "TIPO" %}</th>
                        <th class="col-collapse">{% trans "SEDES/DE" %}</th>
                        <th class="col-collapse">{% trans "ACTIVO" %}</th>
                        <th class="btn-actions no-responsive" style="width: 150px;">{% trans "ACTIONS" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for d in enterprise_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ d.name }}</td>
                        <td>{{ d.tax_id }}</td>
                        <td>{{ d.get_type_e_display  }}</td>
                        <td>{{ d.num_sedes }}/{{ d.headquar_set.all.count }}</td>
                        <td><span class="label label-success">{{ d.is_active|yesno:'SI,NO' }}</span></td>
                        <td>
                            <a href="{% url 'enterprise_edit' d.id|key:'enterprise_upd' %}" class="btn dw-spinner dw-ajax btn btn-small btn-info dw-text-bold" title="{% trans "Actualizar empresa." %}" rel="tooltip"> <i class="btn-icon-only icon-edit"></i></a>

                            {% if d.is_active %}
                                <a href="{% url 'enterprise_state' 'inactivar' d.id|key:'enterprise_inactivar' %}" class="btn dw-spinner dw-ajax btn btn-small btn-success dw-text-bold" title="{% trans "Inactivar enterprise." %}" rel="tooltip"> <i class="btn-icon-only icon-flag"></i></a>
                            {% else %}
                                <a href="{% url 'enterprise_state' 'reactivar' d.id|key:'enterprise_reactivar' %}" class="btn dw-spinner dw-ajax btn btn-small btn-success dw-text-bold" title="{% trans "Reactivar enterprise." %}" rel="tooltip"> <i class="btn-icon-only icon-flag"></i></a>
                            {% endif %}

                            <a href="{% url 'enterprise_delete' d.id|key:'enterprise_del' %}" class="btn dw-spinner dw-ajax btn btn-small btn-danger js-confirm dw-text-bold" confirm-title="{% trans "¿Eliminar empresa?." %}" confirm-body="{% trans "It is safe to remove." %}<br/>{% trans "Remember that this operation can not be reversed." %}" title="{% trans "¿Eliminar empresa?." %}" rel="tooltip"> <i class="btn-icon-only icon-ban-circle"></i></a>
                        </td>
                     </tr>
                    {% empty %}
                        {% trans "No records found" %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock content %}
