{% extends request.is_ajax|yesno:"base_ajax.html,base_mod_backend.html" %}
{% load i18n %}
{% load app_security %}
{% block title %} {{ page_title }} {% endblock %}
{% block content %}
    {% load notify %}
    {% get_notify request %}

    <div class="container-fluid dw-shell-view">
        <div class="page-header">
            <h4>{{ page_module }} | <small>{{ page_title }}</small></h4>
        </div>
        <form action="" method="post" id="form" class="dw-validate js-remote dw-form dw-validate form-vertical" data-to="dw-shell-content" name="form">
	        {% csrf_token %}
        	<div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">{% trans "TITULO" %}<span class="req"> *</span></label>
                        <input id="title" name="title" type="text" value="{{ d.title }}" class="field text input-xlarge input-required mask-alphanum show-error" required="required">
                        <p class="help-block"> <span class="help-error" id="err_title"></span></p>
                    </div>
        		</div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">{% trans "MENU PADRE" %}<span class="req"> </span></label>
                        <select id="parent_id" name="parent_id"  class="field select input-xlarge input-xrequired input-xlist show-errors" >
                            <option value=""></option>
                            {% for menu in parent_list %}
                                <option value="{{ menu.id }}">{{ menu.get_module_display }}: {{ menu.title }}</option>
                            {% endfor %}
                        </select>
                        <p class="help-block"> <span class="help-error" id="err_parent_id"></span></p>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">{% trans "RECURSO" %}<span class="req"> </span></label>
                        <select id="permission_id" name="permission_id"  class="field select input-xlarge input-xrequired input-xlist show-errors" >
                            <option value=""></option>
                            {% for d in permission_list %}
                                <option value="{{ d.id }}">{{ d.content_type.app_label|add:'/'|add:d.codename }}</option>
                            {% endfor %}
                        </select>
                        <p class="help-block"> <span class="help-error" id="err_permission_id"></span></p>
                    </div>
                </div>
        	</div>
            <div class="row-fluid">
                
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">{% trans "POS" %}<span class="req"> *</span></label>
                        <input id="pos" name="pos" type="text" value="{{ d.pos }}" class="field input-large input-required mask-alphanum show-error" required="required">
                        <p class="help-block"> <span class="help-error" id="err_pos"></span></p>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">{% trans "ICONO A MOSTRAR" %}</label>
                        <input id="icon" name="icon" type="text" value="{{ d.icon }}" class="field text input-xlarge mask-alphanum show-error">
                        <p class="help-block"> <span class="help-error" id="err_icon"></span></p>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label class="control-label">{% trans "URL" %}</label>
                        <input id="url" name="url" type="text" value="{{ d.url }}" class="field text input-xlarge mask-url show-error">
                        <p class="help-block"> <span class="help-error" id="err_url"></span></p>
                    </div>
                </div>

            </div>
            <div class="row-fluid">
                <div class="span4">
                        <div class="control-group">
                            <label class="control-label">{% trans "MODULO" %}<span class="req"> *</span></label>
                            <select id="module" name="module"  class="field select input-xlarge input-required input-list show-errors" required="required">
                                    <option value=""></option>
                                    {% for key,value in MODULES %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <p class="help-block"> <span class="help-error" id="err_module"></span></p>
                        </div>
                </div>
                
            </div>

            
            <div class="row-fluid">
                <div class="form-actions">

                    <button type="submit" class="btn btn-success dw-text-bold" title="Guardar registro">
                    	<i class="btn-icon-only icon-save"></i> <span class="hidden-phone">{% trans "SAVE" %}</span>
                    </button>

                    <button type="button"  class="btn btn-info dw-text-bold" title="Limpiar formulario" onclick="document.getElementById('form').reset();">
                    	<i class="btn-icon-only icon-undo"></i> <span class="hidden-phone">{% trans "RESET" %}</span>
                    </button>

                    <a href="{% url 'menu_index' %}"  class="btn dw-spinner dw-ajax btn-danger dw-text-bold" title="Cancelar operación">
                    	<i class="btn-icon-only icon-ban-circle"></i> <span class="hidden-phone">{% trans "CANCEL" %}</span>
                    </a>

                 </div>
             </div>
        </form>
    </div>
    <script type="text/javascript" >
    $(function(){
        $("#permission_id").on('change',function(){
            var recurso = $('option:selected',this).text();
            $("#url").val(recurso.replace("/\./g",'/'));
            $("#url").val(recurso.replace('/*','/'));

            $("#url").val(recurso.replace('_','/')+"/");
        });
    });
</script>
{% endblock content %}