{% extends request.is_ajax|yesno:"base_ajax.html,base_mod_backend.html" %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load app_security %}
{% block title %} {{ page_title }} {% endblock %}
{% block content %}
    {% load notify %}
    {% get_notify request %}
    <script type="text/javascript">
    $(function() {
        $('table').dwGrid({
            language: '{{ LANGUAGE_CODE|default:"en-us" }}',
            

        });
    });
</script>
    
<div class="container-fluid dw-shell-view">
     <div class="page-header">
        <h4>{{ page_module }} | <small>{{ page_title }} </small></h4>
    </div>
    
	<div class="btn-toolbar btn-toolbar-top">
        <div class="btn-actions">
           

        </div>
    </div>

    <div class="dw-overflow" id="data-result">
		<table class="table table-bordered table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="col-collapse" >{% trans "TABLE" %}</th>
                    <th class="col-collapse">{% trans "COMMENTS" %}</th>
                    <th class="col-collapse" >{% trans "ENGINE" %}</th>
                    <th class="col-collapse" >{% trans "A. INCREMENT" %}</th>
                    <th class="col-collapse" >{% trans "ROWS" %}</th>
                    <th class="col-collapse" >{% trans "DATA LENGTH" %}</th>
                    <th class="col-collapse" >{% trans "DATA FREE" %}</th>
                    <th class="col-collapse" >{% trans "MSG TYPE" %}</th>
                    <th class="col-collapse" >{% trans "MSG TEXT" %}</th>
                    <th class="btn-actions no-responsive" style="width: 100px;">{% trans "ACTIONS" %}</th>
                </tr>
            </thead>
            <tbody>
			{% for d in backup_page %}
				<tr>
					<td>{{ backup_page.start_index|add:forloop.counter0 }}</td>
                	<td>{{ d.registered_at|date:"Y-m-d"  }}</td>
                    <td>{{ d.registered_at|date:"H:i:s"  }}</td>
                	<td>{{ d.user.username }}</td>
                	<td>{{ d.user.profile.person.first_name }}</td>
                    <td>{{ d.user.profile.person.last_name }}</td>
                    <td>{{ d.ip  }}</td>
                    <td><span class="label label-success">{{ d.backup_type }}</span></td>
                    <td>{{ d.ip  }}</td>
                    <td>{{ d.ip  }}</td>
                    <td>{{ d.ip  }}</td>

                    
                 </tr>
				{% empty %}
					{% trans "No records found" %}
			{% endfor %}
			</tbody>
        </table>
	</div>

    <div class="pagination" style="height: auto !important; margin-top: 10px;">
            <p>
                {% trans "Total records found" %}: <b>{{ backup_page.paginator.count }}</b>
                
                ({% blocktrans with backup_page.number as number count backup_page.paginator.num_pages as num_pages %}{{number}}/{{num_pages}} page{% plural %}{{number}}/{{num_pages}} pages{% endblocktrans %})
            </p>
            
    </div>
    <div class="pagination">
        <div class="pagination-left">
            <ul>
                
                {% if backup_page.has_previous %}
                    <li {% ifequal 1 backup_page.number %} class="active" {% endifequal %}>
                        <a class="dw-ajax dw-spinner" href="{% url 'backup_index' %}?page=1"> << </a>
                    </li>
                    
                    <li {% ifequal 1 backup_page.number %} class="active" {% endifequal %}>
                        <a class="dw-ajax dw-spinner" href="{% url 'backup_index' %}?page={{ backup_page.previous_page_number }}"> < </a>
                    </li>
                {% endif %}
                

                {% for i in backup_page.paginator.page_range %}
                    <li {% ifequal i backup_page.number %} class="active" {% endifequal %}>
                        <a class="dw-ajax dw-spinner" href="{% url 'backup_index' field value order %}?page={{ i }}">{{ i }}</a></li>
                {% endfor %}

                
                {% if backup_page.has_next %}
                    <li {% ifequal backup_page.paginator.num_pages backup_page.number %} class="active" {% endifequal %}>
                        <a class="dw-ajax dw-spinner" href="{% url 'backup_index' %}?page={{ backup_page.next_page_number }}"> > </a>
                    </li>

                    <li {% ifequal backup_page.paginator.num_pages backup_page.number %} class="active" {% endifequal %}>
                        <a class="dw-ajax dw-spinner" href="{% url 'backup_index' %}?page={{ backup_page.paginator.num_pages }}"> >> </a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
    

</div>

{% endblock content %}