{% load staticfiles %}
{% load i18n %}
{% load user_menu %}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div>
      <button type="button" class="btn btn-navbar btn-list-phone" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  
  <div class="row-fluid" >
                <div class="span2"> 
<a href="{% url 'mod_ventas_dashboard' %}" class="xdw-ajax dw-spinner" ><img src="{% static 'img/modules/ventas.png' %}" alt="PROJECT"  style="height: 35px;" /></a>
          

                </div>
                <div class="span3" style="vertical-align: middle;">
                      
      
      {% if user.is_authenticated %}
        {% url 'mod_ventas_dashboard' as get_url %}
        {% get_grupos request get_url %}
      {% endif %}

 
                  </div>
                <div class="span3">

<input id="codigo" type="text" data-provide="typeahead" class="span search-query icon-search" placeholder="Buscar..."  autocomplete="off"/> 

 

                    
                </div>
                <div class="span2" >

  <div class="nav-collapse collapse">
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
        </ul>
      </li>
    </ul>
  </div>



                </div>
                <div class="span2">
                    
      <ul class="nav pull-right">
      {% if user.is_authenticated %}
      <li class="dropdown">
        <a href="/accounts/login/" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i>
          {{ user.username }}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'choice_headquar' %}"  class="" >Elegir otra empresa</a></li>
          <li class="divider"></li>
          <li><a href="/accounts/profile/edit/"  class="dw-ajax dw-spinner" >Perfil</a></li>
          <li class="divider"></li>
          <li><a href="/accounts/logout/"  class="no-load" ><i class="icon-off icon-expand"></i> Salir</a></li>
        </ul>
      </li>

      {% else %}
      <li><a href="/accounts/login/"><i class="icon-user"> </i> Login</a></li>
      {% endif %}
      </ul>


                </div>

            </div>





    </div>

    <div class="hidden-desktop">
            <div class="nav-collapse collapse">
              {% phone request %}
            </div>
    </div><!-- fin contenedor menú-->

  </div>
</div>
