{% extends request.is_ajax|yesno:"base_ajax.html,base_mod_pro.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block content %}
    {% load notify %}
    {% get_notify request %}

        <p>Pro Module Dashboard Page</p>

        <div class="btn-toolbar btn-toolbar-top">
        <div class="btn-actions">
            <a href="{% url 'employee_add' %}" class="btn dw-spinner btn-success dw-text-bold" title="{% trans "Agregar employee." %}"><i class="btn-icon-only icon-check"></i> <span class="hidden-phone">{% trans "NEW" %}</span></a>

        </div>
    </div>

{% endblock %}